
<div class="reklama">
    <img src="../../assets/istockphoto-922783734-170667a.webp" alt="">
    
    <div class="reklamtxt">  
        <h1>🍽️ Welcome to steprestaurant 🍷</h1>
        <p>
        Indulge your senses in a culinary journey like no other at steprestaurant. Nestled in the heart of Tbilisi, our restaurant is a haven for those who appreciate the artistry of fine dining.
        
        At steprestaurant, we believe in the magic that happens when exceptional food, impeccable service, and a warm ambiance come together. Our menu is a symphony of flavors, carefully curated to tantalize your taste buds and leave you craving more.</p>
    </div>
  
        
 

     

</div>